.desktop-6-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-chocolate);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 1440px;
    height: 85px;
  }
  .acceuil3,
  .inscription3,
  .propos3,
  .vnements3 {
    width: 58px;
    position: relative;
    display: inline-block;
    height: 21px;
    flex-shrink: 0;
  }
  .inscription3,
  .propos3,
  .vnements3 {
    width: 92px;
  }
  .inscription3,
  .propos3 {
    width: 77px;
  }
  .propos3 {
    width: 65px;
    font-size: var(--font-size-smi);
  }
  .frame-div {
    position: absolute;
    top: 17px;
    left: calc(50% - 71px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 40px;
  }
  .frame-div li a {
    color: var(--White, #fff);
    font-family: Poppins, sans-serif;
    text-decoration: none; 
  }
  .frame-div li a:hover {
    color: #FCD980; 
  }
  
  .frame-div li a:active {
    color: #FDE4A6; 
  }
  .frame-container,
  .group-6-23 {
    position: absolute;
    height: 56.4px;
  }
  .group-6-23 {
    top: 0;
    left: 0;
    width: 128px;
    object-fit: cover;
  }
  .frame-container {
    top: 15px;
    left: calc(50% - 439px);
    width: 878px;
  }
  .card-icon {
    width: 729px;
    position: relative;
    height: 356px;
  }
  .live-match {
    position: relative;
    font-weight: 600;
  }
  .div7,
  .live-match,
  .title {
    align-self: stretch;
  }
  .div7 {
    position: relative;
    font-size: var(--body-regular-size);
    font-weight: 500;
    color: var(--color-darkgreen);
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px 0;
  }
  .image-icon1 {
    width: 56px;
    position: relative;
    border-radius: var(--br-21xl);
    height: 56px;
    object-fit: cover;
  }
  .div8 {
    position: relative;
    font-weight: 600;
  }
  .club,
  .score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .score {
    flex: 1;
    border-radius: var(--br-31xl);
    background-color: var(--color-slateblue-200);
    padding: var(--padding-5xs) var(--padding-base);
  }
  .club {
    align-self: stretch;
    gap: 0 32px;
    text-align: left;
    font-size: var(--sub-headline-2-size);
    color: var(--color-slateblue-100);
  }
  .shoot-on-target {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .group-child23,
  .group-child24 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-10xs);
    background-color: var(--color-slateblue-300);
    width: 123px;
    height: 4px;
  }
  .group-child24 {
    left: 39px;
    background-color: var(--color-slateblue-100);
    width: 84px;
  }
  .rectangle-parent5 {
    width: 123px;
    position: relative;
    height: 4px;
  }
  .status3 {
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px 0;
  }
  .group-child25,
  .group-child26 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-10xs);
    background-color: var(--color-maroon-200);
    width: 123px;
    height: 4px;
  }
  .group-child26 {
    background-color: var(--color-maroon-100);
    width: 40px;
  }
  .status4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 6px 0;
    text-align: right;
    color: var(--color-maroon-100);
  }
  .status1,
  .status2 {
    align-self: stretch;
    display: flex;
  }
  .status2 {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 8px;
    text-align: left;
    color: var(--color-slateblue-100);
  }
  .status1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .group-child28,
  .group-child30 {
    position: absolute;
    top: 0;
    left: 19px;
    border-radius: var(--br-10xs);
    background-color: var(--color-slateblue-100);
    width: 104px;
    height: 4px;
  }
  .group-child30 {
    left: 0;
    background-color: var(--color-maroon-100);
    width: 65px;
  }
  .card1,
  .status {
    flex-direction: column;
    justify-content: center;
  }
  .status {
    width: 257px;
    display: flex;
    align-items: center;
    gap: 16px 0;
    font-size: var(--body-regular-size);
  }
  .card1 {
    align-self: stretch;
    width: 301px;
    border-radius: var(--br-base);
    background-color: var(--white);
    padding: var(--padding-7xl) var(--padding-3xl);
    box-sizing: border-box;
    gap: 20px 0;
  }
  .card,
  .card1,
  .mode-de-paiement {
    display: flex;
    align-items: center;
  }
  .card {
    position: absolute;
    top: 181px;
    left: 193px;
    width: 1054px;
    flex-direction: row;
    justify-content: center;
    gap: 0 24px;
    text-align: center;
    font-size: var(--reg-size);
    color: var(--black);
  }
  .mode-de-paiement {
    width: 259px;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 28px;
    font-weight: 600;
    height: 48px;
    flex-shrink: 0;
  }
  .frame-child {
    width: 477px;
    position: relative;
    border-top: 1px solid var(--stroke);
    box-sizing: border-box;
    height: 1px;
  }
  .mode-de-paiement-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px 0;
    font-size: var(--sub-headline-1-size);
  }
  .card-child,
  .payez-avec {
    position: relative;
    height: 15px;
  }
  .payez-avec {
    width: 118px;
    line-height: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .card-child {
    width: 15px;
  }
  .card3 {
    position: relative;
    line-height: 22px;
    font-weight: 500;
  }
  .card2 {
    color: var(--text);
  }
  .bank,
  .card2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
  }
  .card-parent,
  .payez-avec-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .card-parent {
    flex-direction: row;
    gap: 0 19px;
    font-size: var(--reg-size);
    color: var(--stroke);
  }
  .payez-avec-parent {
    flex-direction: column;
    gap: 16px 0;
  }
  .numero-de-tel {
    width: 129px;
    position: relative;
    line-height: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 17px;
    flex-shrink: 0;
  }
  .numero-de-tel-parent,
  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .wrapper {
    width: 325px;
    border-radius: var(--br-9xs);
    border: 1.5px solid var(--stroke);
    box-sizing: border-box;
    flex-direction: row;
    padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
    font-size: var(--reg-size);
    color: var(--stroke);
  }
  .numero-de-tel-parent {
    width: 322px;
    flex-direction: column;
    gap: 16px 0;
  }
  .frame-item {
    width: 401px;
    position: relative;
    border-top: 1px solid var(--stroke);
    box-sizing: border-box;
    height: 1px;
  }
  .bank-group,
  .bank-parent,
  .frame-parent6,
  .tarif-ticket-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px 0;
  }
  .bank-group,
  .bank-parent,
  .frame-parent6 {
    flex-direction: row;
    gap: 0 48px;
  }
  .bank-group,
  .frame-parent6 {
    gap: 0 34px;
  }
  .frame-parent6 {
    flex-direction: column;
    gap: 22px 0;
    font-size: var(--reg-size);
    color: var(--stroke);
  }
  .final-parent {
    flex-direction: column;
    gap: 16px 0;
    font-size: var(--sub-headline-2-size);
  }
  .final-parent,
  .frame-parent3,
  .frame-parent5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent5 {
    flex-direction: column;
    gap: 36px 0;
    font-size: var(--sub-headline-1-size);
  }
  .frame-parent3 {
    flex-direction: row;
    gap: 0 97px;
  }
  .coordonnes,
  .tite {
    position: relative;
    flex-shrink: 0;
  }
  .coordonnes {
    width: 207px;
    letter-spacing: -0.02em;
    line-height: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 48px;
  }
  .tite {
    width: 460px;
    line-height: 22px;
    display: inline-block;
  }
  .frame-parent8,
  .frame-parent9,
  .tite-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .tite-wrapper {
    border-radius: var(--br-9xs);
    border: 1.5px solid var(--stroke);
    padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
    font-size: var(--reg-size);
    color: var(--stroke);
  }
  .frame-parent8,
  .frame-parent9 {
    gap: 0 54px;
  }
  .frame-parent8 {
    flex-direction: column;
    gap: 35px 0;
    font-size: var(--sub-headline-2-size);
  }
  .gp,
  .gp-wrapper {
    display: flex;
    align-items: center;
  }
  .gp {
    width: 46px;
    position: relative;
    line-height: 12px;
    font-weight: 500;
    white-space: pre-wrap;
    height: 20px;
    flex-shrink: 0;
  }
  .gp-wrapper {
    border-radius: var(--br-9xs);
    background-color: var(--empty);
    border: 1.5px solid var(--empty);
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-smi) var(--padding-4xl);
  }
  .frame-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vip-wrapper,
  .vvip,
  .vvip1 {
    display: flex;
    align-items: center;
  }
  .vip-wrapper {
    border-radius: var(--br-9xs);
    background-color: var(--stroke);
    border: 1.5px solid var(--stroke);
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-smi) var(--padding-4xl);
  }
  .vvip,
  .vvip1 {
    width: 46px;
    position: relative;
    line-height: 12px;
    font-weight: 500;
    height: 20px;
    flex-shrink: 0;
  }
  .vvip1 {
    width: 53px;
  }
  .frame-parent12 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 18px;
    color: var(--text-2);
  }
  .nombre-de-ticket {
    width: 161px;
    position: relative;
    line-height: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 15px;
    flex-shrink: 0;
  }
  .save-card-details-child {
    width: 19px;
    position: relative;
    border-radius: var(--br-11xs);
    border: 1.5px solid var(--stroke);
    box-sizing: border-box;
    height: 19px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .save-card-details1 {
    position: relative;
    line-height: 20px;
  }
  .save-card-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0 16px;
    color: var(--stroke);
  }
  .frame-parent11 {
    font-size: var(--reg-size);
  }
  .frame-parent11,
  .frame-parent2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 36px 0;
  }
  .pay-usd5828 {
    position: relative;
    line-height: 12px;
  }
  .pay {
    width: 476px;
    border-radius: var(--br-9xs);
    background-color: var(--empty);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 193px;
    box-sizing: border-box;
  }
  .your-personal-data {
    width: 475px;
    position: relative;
    font-size: var(--body-regular-size);
    line-height: 22px;
    color: var(--stroke);
    display: inline-block;
  }
  .frame-parent1,
  .pay-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 23px 0;
    font-size: var(--reg-size);
    color: var(--text-2);
  }
  .frame-parent1 {
    position: absolute;
    top: 647px;
    left: calc(50% - 566px);
    border-radius: var(--br-3xs);
    background-color: var(--white);
    width: 1132px;
    height: 1290px;
    align-items: center;
    padding: 66px 0 0;
    box-sizing: border-box;
    gap: 110px 0;
    font-size: var(--sub-headline-2-size);
    color: var(--text);
  }
  .desktop-6 {
    width: 100%;
    position: relative;
    background-color: var(--color-whitesmoke-100);
    height: 2028px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--white);
    font-family: var(--caption-regular);
  }
  