.desktop-7-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-chocolate);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 1440px;
    height: 85px;
  }
  .acceuil4,
  .inscription4,
  .propos4,
  .vnements4 {
    width: 58px;
    position: relative;
    display: inline-block;
    height: 21px;
    flex-shrink: 0;
  }
  .inscription4,
  .propos4,
  .vnements4 {
    width: 92px;
  }
  .inscription4,
  .propos4 {
    width: 77px;
  }
  .propos4 {
    width: 65px;
    font-size: var(--font-size-smi);
  }
  .acceuil-parent1 {
    position: absolute;
    top: 17px;
    left: calc(50% - 71px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 40px;
  }
  .frame-parent13,
  .group-6-24 {
    position: absolute;
    height: 56.4px;
  }
  .group-6-24 {
    top: 0;
    left: 0;
    width: 128px;
    object-fit: cover;
  }
  .frame-parent13 {
    top: 15px;
    left: calc(50% - 439px);
    width: 878px;
    font-size: var(--font-size-mini);
  }
  .card-icon1 {
    width: 729px;
    position: relative;
    height: 356px;
  }
  .live-match1 {
    position: relative;
    font-weight: 600;
  }
  .div17,
  .live-match1,
  .title1 {
    align-self: stretch;
  }
  .div17 {
    position: relative;
    font-size: var(--body-regular-size);
    font-weight: 500;
    color: var(--color-darkgreen);
  }
  .title1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px 0;
  }
  .image-icon3 {
    width: 56px;
    position: relative;
    border-radius: var(--br-21xl);
    height: 56px;
    object-fit: cover;
  }
  .div18 {
    position: relative;
    font-weight: 600;
  }
  .club1,
  .score1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .score1 {
    flex: 1;
    border-radius: var(--br-31xl);
    background-color: var(--color-slateblue-200);
    padding: var(--padding-5xs) var(--padding-base);
  }
  .club1 {
    align-self: stretch;
    gap: 0 32px;
    text-align: left;
    font-size: var(--sub-headline-2-size);
    color: var(--color-slateblue-100);
  }
  .shoot-on-target1 {
    align-self: stretch;
    position: relative;
    font-weight: 500;
  }
  .group-child35,
  .group-child36 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-10xs);
    background-color: var(--color-slateblue-300);
    width: 123px;
    height: 4px;
  }
  .group-child36 {
    left: 39px;
    background-color: var(--color-slateblue-100);
    width: 84px;
  }
  .rectangle-parent11 {
    width: 123px;
    position: relative;
    height: 4px;
  }
  .status16 {
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px 0;
  }
  .group-child37,
  .group-child38 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-10xs);
    background-color: var(--color-maroon-200);
    width: 123px;
    height: 4px;
  }
  .group-child38 {
    background-color: var(--color-maroon-100);
    width: 40px;
  }
  .status17 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 6px 0;
    text-align: right;
    color: var(--color-maroon-100);
  }
  .status14,
  .status15 {
    align-self: stretch;
    display: flex;
  }
  .status15 {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 8px;
    text-align: left;
    color: var(--color-slateblue-100);
  }
  .status14 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .group-child40,
  .group-child42 {
    position: absolute;
    top: 0;
    left: 19px;
    border-radius: var(--br-10xs);
    background-color: var(--color-slateblue-100);
    width: 104px;
    height: 4px;
  }
  .group-child42 {
    left: 0;
    background-color: var(--color-maroon-100);
    width: 65px;
  }
  .card7,
  .status13 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .status13 {
    width: 257px;
    gap: 16px 0;
    font-size: var(--body-regular-size);
  }
  .card7 {
    align-self: stretch;
    width: 301px;
    border-radius: var(--br-base);
    background-color: var(--white);
    padding: var(--padding-7xl) var(--padding-3xl);
    box-sizing: border-box;
    gap: 20px 0;
  }
  .card6,
  .desktop-7-inner,
  .desktop-7-item {
    position: absolute;
    left: 193px;
    width: 1054px;
  }
  .card6 {
    top: 181px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 24px;
    text-align: center;
    color: var(--black);
  }
  .desktop-7-inner,
  .desktop-7-item {
    top: 653px;
    border-radius: var(--br-3xs);
    background-color: var(--color-deepskyblue);
    height: 600px;
  }
  .desktop-7-inner {
    background-color: var(--white);
    width: 527px;
  }
  .spot-ilustrations-icon {
    position: absolute;
    top: 840px;
    left: 319px;
    width: 276px;
    height: 200px;
    object-fit: cover;
  }
  .receipt-background {
    position: absolute;
    top: 0;
    left: 10px;
    border-radius: var(--br-xs);
    background-color: var(--white);
    width: 345px;
    height: 510px;
  }
  .success-icon {
    width: 56px;
    position: relative;
    height: 56px;
  }
  .succs-de-paiement {
    align-self: stretch;
    position: relative;
    line-height: 28px;
    font-weight: 600;
  }
  .header {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px 0;
  }
  .line {
    width: 298px;
    position: relative;
    border-top: 1px dashed #dcdee0;
    box-sizing: border-box;
    height: 1px;
  }
  .numro-de-rfrences {
    flex: 1;
    position: relative;
    line-height: 18px;
  }
  .numro-de-rfrences-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 16px;
  }
  .am {
    position: relative;
    line-height: 18px;
    font-weight: 500;
    color: var(--color-gray-100);
    text-align: center;
  }
  .details-row {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px 0;
  }
  .fr-cfa,
  .line1 {
    position: relative;
  }
  .line1 {
    width: 298px;
    border-top: 1px dashed var(--color-whitesmoke-200);
    box-sizing: border-box;
    height: 1px;
  }
  .fr-cfa {
    font-size: var(--reg-size);
    line-height: 24px;
    font-weight: 500;
    color: var(--color-gray-100);
    text-align: center;
  }
  .payment-details {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px 0;
    text-align: left;
    font-size: var(--font-size-smi);
    color: var(--color-dimgray);
  }
  .line2 {
    width: 298px;
    position: relative;
    border-top: 1px solid var(--color-whitesmoke-200);
    box-sizing: border-box;
    height: 1px;
  }
  .vuesaxlinearimport-icon {
    width: 24px;
    position: relative;
    height: 24px;
  }
  .obtenir-un-reu {
    position: relative;
    line-height: 24px;
    font-weight: 500;
  }
  .pdf-button,
  .receipt-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pdf-button {
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #dedede;
    flex-direction: row;
    padding: var(--padding-xs) var(--padding-5xl);
    gap: 0 10px;
    font-size: var(--body-regular-size);
    color: #3d3d3d;
  }
  .receipt-card {
    position: absolute;
    top: 0;
    left: 10px;
    border-radius: var(--br-xs);
    width: 345px;
    overflow: hidden;
    flex-direction: column;
    padding: 32px var(--padding-5xl);
    box-sizing: border-box;
    gap: 32px 0;
  }
  .substract,
  .substract1 {
    position: absolute;
    top: 154px;
    left: 345px;
    border-radius: 50%;
    background-color: var(--color-deepskyblue);
    width: 20px;
    height: 20px;
  }
  .substract1 {
    left: 0;
  }
  .receipt {
    position: absolute;
    top: 698px;
    left: 798px;
    width: 365px;
    height: 510px;
    text-align: center;
    font-size: var(--heading-h3-size);
    color: var(--color-gray-100);
    font-family: var(--reg);
  }
  .thank-you-for {
    position: absolute;
    top: 1084px;
    left: calc(50% - 371px);
    line-height: 12px;
    color: #000;
    display: inline-block;
    width: 232px;
    height: 26px;
  }
  .desktop-7 {
    width: 100%;
    position: relative;
    background-color: var(--color-whitesmoke-100);
    height: 1356px;
    overflow: hidden;
    text-align: left;
    font-size: var(--reg-size);
    color: var(--white);
    font-family: var(--caption-regular);
  }
  