.sign-up-item {
    position: absolute;
    top: 0;
    left: 721px;
    border-radius: var(--br-981xl) var(--br-8xs) var(--br-8xs) 0;
    background-color: var(--color-gray-100);
    width: 720px;
    height: 962px;
    display: none;
  }
  .sign-up-child1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-chocolate);
    width: 1440px;
    height: 85px;
  }
  .acceuil5,
  .inscription5,
  .propos5,
  .vnements5 {
    width: 58px;
    position: relative;
    display: inline-block;
    height: 21px;
    flex-shrink: 0;
  }
  .inscription5,
  .propos5,
  .vnements5 {
    width: 92px;
  }
  .inscription5,
  .propos5 {
    width: 77px;
  }
  .propos5 {
    width: 65px;
    font-size: var(--font-size-smi);
  }
  .acceuil-parent3 {
    position: absolute;
    top: 0;
    left: calc(50% - 255px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-21xl);
  }

  .acceuil-parent3 li a {
    color: var(--White, #fff);
    font-family: Poppins, sans-serif;
    text-decoration: none;
  }
  
  .acceuil-parent3 li a:hover {
    color: #FCD980;
  }
  
  .acceuil-parent3 li a:active {
    color: #FDE4A6;
  }
  
  .sign-up-inner1 {
    position: absolute;
    top: 32px;
    left: calc(50% - 613px);
    width: 510px;
    height: 21px;
  }
  .frame-1-63 {
    position: absolute;
    left: 399.3px;
  }
  .crer-un-compte4 {
    position: absolute;
    top: 174px;
    left: 83px;
    font-size: var(--font-size-21xl);
    color: var(--dark-blue-jeans);
  }
  .input-text10,
  .label10 {
    position: relative;
  }
  .input-text10 {
    font-size: var(--body-bold-size);
  }
  .label-parent8,
  .text-field21 {
    display: flex;
    justify-content: flex-start;
  }
  .label-parent8 {
    flex: 1;
    height: 42px;
    flex-direction: column;
    align-items: flex-start;
  }
  .text-field21 {
    width: 480px;
    border-radius: var(--br-3xs);
    background-color: var(--broken-white);
    border: 1px solid var(--grey);
    box-sizing: border-box;
    height: 52px;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-9xs) var(--padding-base);
  }
  .text-field20,
  .text-field22 {
    position: absolute;
    left: 80px;
    justify-content: flex-start;
  }
  .text-field20 {
    top: 274px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 480px;
    height: 52px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc; /* Ajoute une bordure */
    box-sizing: border-box; /* Inclut la bordure dans les dimensions */
  }
  .text-field22 {
    top: 350px;
    width: 480px;
    height: 52px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc; /* Ajoute une bordure */
    box-sizing: border-box; /* Inclut la bordure dans les dimensions */
}

  .label-parent10,
  .text-field22{
    width: 480px;
    height: 52px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc; /* Ajoute une bordure */
    box-sizing: border-box; /* Inclut la bordure dans les dimensions */
}
  
  .text-field25 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .label-parent10 {
    align-self: stretch;
    height: 42px;
    justify-content: flex-start;
  }
  .text-field25 {
    width: 480px;
    border-radius: var(--br-3xs);
    background-color: var(--broken-white);
    border: 1px solid var(--grey);
    box-sizing: border-box;
    height: 52px;
    overflow: hidden;
    flex-shrink: 0;
    justify-content: center;
    padding: var(--padding-9xs) var(--padding-base);
  }
  .supporting-text5 {
    position: relative;
    color: var(--dark-blue-jeans);
  }
  .text-field24 {
    position: absolute;
    top: 426px;
    left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    width: 480px;
    height: 52px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc; /* Ajoute une bordure */
    box-sizing: border-box; /* Inclut la bordure dans les dimensions */
}
  
  .eye-icon3 {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .text-field26 {
    position: absolute;
    top: 505px;
    left: 80px;
    width: 480px;
    height: 52px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc; /* Ajoute une bordure */
    box-sizing: border-box; /* Inclut la bordure dans les dimensions */

  }
  .crer-un-compte5 {
    position: relative;
    font-weight: 500;
  }
  .crer-un-compte-frame {
    position: absolute;
    top: 638px;
    left: 80px;
    border-radius: var(--br-3xs);
    background-color: var(--dark-blue-jeans);
    width: 480px;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    font-size: var(--body-bold-size);
    color: var(--broken-white);
  }
  .lock-1-12 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-81xl);
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .vos-donnes-seront2 {
    position: absolute;
    top: 3px;
    left: 32px;
  }
  .lock-1-1-container {
    position: absolute;
    top: 714px;
    left: 80px;
    width: 526px;
    height: 24px;
    color: var(--color-black);
  }
  .sign-up-section3 {
    position: absolute;
    top: 65px;
    left: 720px;
    border-radius: var(--br-31xl) 0 0 var(--br-31xl);
    background-color: var(--broken-white);
    width: 720px;
    height: 832px;
    overflow: hidden;
    font-size: var(--caption-regular-size);
    color: var(--grey);
    font-family: var(--med);
  }
  .group-6-4 {
    position: absolute;
    top: 355px;
    left: 76px;
    width: 573px;
    height: 252px;
    object-fit: cover;
  }
  .sign-up2 {
    width: 100%;
    position: relative;
    background-color: var(--color-chocolate);
    height: 962px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--white);
    font-family: var(--caption-regular);
  }
  
  #signupForm input[type="tel"]:not(:placeholder-shown):valid,
#signupForm input[type="email"]:not(:placeholder-shown):valid,
#signupForm input[type="text"]:not(:placeholder-shown):valid,
#signupForm input[type="password"]:not(:placeholder-shown):valid {
    border-color: green;
}

#signupForm input[type="tel"]:not(:placeholder-shown):invalid,
#signupForm input[type="email"]:not(:placeholder-shown):invalid,
#signupForm input[type="text"]:not(:placeholder-shown):invalid,
#signupForm input[type="password"]:not(:placeholder-shown):invalid {
    border-color: red;
}
